.stats{
    width:70%;
    float: right;
    margin-top:40px;
    h3{
        margin-left:40px;
        margin-top:40px;
        font-size:20px;
    }
    .graph{
        height: 200px;
        width: 400px;
        margin: auto;
        margin-top:20px;
    }
}